<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <style>
        body {
            background-color: #333;
            color: #fff;
        }
        form {
            max-width: 300px;
            margin: auto;
        }
        input[type="text"], input[type="calculate"] {
            display: block;
            margin: 10px 0;
            padding: 10px;
            width: calc(100% - 20px);
        }
    </style>

    <form action="/" method="post">
        <h2>PIZZA CALCULATOR</h2>

        <label for="inputFlour">Insert flour:</label>
        <input type="text" id="inputFlour" name="inputFlour" pattern="^[0-9]*$" title="Please enter only numbers" required>

        <button type="calculate">Calculate</button>

        <h3 th:text="${'Flour: ' + inputFlour + ' g'}"></h3>
        <h3 th:text="${'Yeast: ' + inputYeast + ' g'}"></h3>
        <h3 th:text="${'Water: ' + inputWater + ' ml'}"></h3>
        <h3 th:text="${'Salt: ' + inputSalt + ' g'}"></h3>


    </form>

</body>
</html>


